body {
  background-color: RGBA(30, 192, 185, 1);
}

.container {
  width: 70%;
  margin: 0 auto;
  margin-top: 200px;
}

.box {
  width: 600px;
  height: 200px;
  background-color: black;
  border-radius: 5px;
  margin: 0 auto;
}

  h3 {
    color: white;
    padding: 20px;
    text-align: center;
  }

  input {
    width: 50px;
    margin-left: 250px;
    border-radius: 5px;
  }
